#attractions {

  h1 {
    margin-top: 2rem;
    text-align: center;
  }

  .att_carousel {
    margin-top: 3rem;
  }

  .att_text {
    display: flex;
    justify-content: center;
  }

  p {
    text-align: justify;
    padding-top: 2rem;
    width: 90%;
    max-width: 1000px;

    @include desktop {
      width: 70%;
    }
  }
}