.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: $footer-color;

  .links {
    display: flex;
    justify-content: space-around;
  }

  img {
    width: 100px;
    height: 100px;
  }
}