.footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(white, $footer-color);

  .phone_mail {
    display: flex;
    justify-content: center;

    a {
      width: 12rem;
      margin: 1rem;

      p {
        font-weight: 700;
        font-size: 1.3rem;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    @include mobile {
      align-items: center;
      flex-direction: column;

      a {
        width: 10rem;
        margin: 0;
      }
    }
  }

  .adres {
    display: flex;
    justify-content: center;
  }

  .privacy {
    display: flex;
    justify-content: center;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

    img {
      margin: 0 2rem;
      width: 40px;
      height: 40px;
      filter: grayscale(100%);
      transition: 0.7s;

      &:hover {
        filter: none;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    a {
      width: 12rem;
    }
  }
}