#home {

  .home_info {
    background: linear-gradient($accent-color, white);

    h2 {
      text-align: center;
      padding: 4rem;
    }

    h3 {
      text-align: center;
    }

    .home_text {
      display: flex;
      justify-content: center;

      p {
        text-align: justify;
        width: 90%;
        max-width: 1000px;

        @include desktop {
          width: 50%;
        }
      }
    }
  }
}