#privacy_policy {

  .info {

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
    }

    .regulamin {
      background: linear-gradient(white, $accent-color);
    }

    .policy {
      background: linear-gradient($accent-color, white);
    }

    p {
      margin-bottom: 2rem;
      text-align: justify;
      width: 90%;

      @include desktop {
        width: 70%;
      }
    }

    h1 {
      padding-top: 2rem;
      text-align: center;
    }
  }
}