#prices {

  h1 {
    padding-top: 2rem;
    text-align: center;
  }

  .price_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .text_a {
    padding-top: 3rem;
    background: linear-gradient(white, $accent-color);
  }

  .text_b {
    background: linear-gradient($accent-color, white);
  }

  p {
    margin: 0 2rem;
  }
}
